/* === Import === */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/** Variables CSS */
:root {
    --font-page:  "Roboto";
    
    /* colores */
    --color-primary: rgb(36,146,255);
    --color-secondary: #505050;
    --color-hover-login: #4bb3f0;
}

/** Globales */
*,
*::after,
*::before {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
body {
    font-size: 16px;
    font-family: var(--font-page);
}
img {
    max-width: 100%;
}
h1,
h2,
h3,
p {
  margin: 0;
}
h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2.2rem;
}
a {
    text-decoration: none;
}
input {
    width: 100%;
    padding: 1rem;
    border: none;
    margin-bottom: 2rem;
    font-size: 2rem;
}
input:last-of-type {
    margin-bottom: 0;
}
input[type="submit"] {
    border-radius: .5rem;
    width: 80%;
    margin: 0 auto;
    cursor: pointer;
}

/** Container */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    width: 100vw;
    /* margin: 7rem auto 0 auto; */
    height: 100vh;
    /* border: solid 1px red; */
    padding: 12rem 3rem;
}
@media  screen and (min-width: 1100px){
    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 95%;
        width: 100vw;
        /* margin: 7rem auto 0 auto; */
        height: 100vh;
        /* border: solid 1px red; */
        padding: 12rem 3rem;
    }  
    .logo {
        width: 90%;
        max-width: 90rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* border: solid 1px red; */
        justify-content: left;
        margin-bottom: 4rem;
        height: 95%;
    }
    .form-login {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        /* border: solid 1px red; */
        height: 95%;
    }
    .form {
        display: flex;
        flex-direction: column;
        /* border: solid 2px rgb(30, 190, 97); */
        width: 90%;
        max-width: 70rem;
    }
}
/* logo */
.logo {
    width: 90%;
    max-width: 90rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: solid 1px red; */
    justify-content: center;
    margin-bottom: 4rem;
}
.logo__img {
    width: 100%;
    min-width: 35rem;
    /* border: solid 1px red; */
}

.img {
    object-fit: cover;
}

.logo__text {
    width: 90%;
    /* border: solid 1px red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo__text-login {
    margin: 2rem 0;
    color: var(--color-primary);
    font-weight: 700;
}
.logo__welcome {
    color: var(--color-secondary);
    font-weight: 400;
    font-family: 1.6rem;
    margin-bottom: 2rem;
}

/** === Form === **/
.form-login {
    width: 100%;
    /* border: solid 1px red; */
}
.form {
    display: flex;
    flex-direction: column;
    /* border: solid 2px rgb(30, 190, 97); */
}
.input {
    border-bottom: .2rem solid var(--color-primary);
}
/* .form__id {
    
} */
/* .form__password {

} */
.form__forget-password {
    margin-bottom: 5rem;
    text-align: right;
}
.form__forget-password a{
    color: var(--color-primary);
}
.form__text-forget-password {
    font-size: 1.8rem;
}
.form__login-btn {
    color: white;
    background: var(--color-primary);
    transition: 0.5s;
}
.form__login-btn:hover{
    color: white;
    background: var(--color-hover-login);
    cursor: pointer;
}

/** Mensajes **/
.notificacion {
    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: 1rem 3rem;
    opacity: 0;
    transition: opacity .5s ease;
    border-radius: 1rem;
}
.visible {
    opacity: 1;
}
/** Tipo de mensaje **/
.correcto {
    background-color: rgb(179,241, 117);
    color: green;
}
.error {
    background-color: rgb(238, 148, 166);
    color: rgb(163, 0, 33);
}