:root {
    /* Variables colores */
    --color-primario: #111111;
    --color-secundario: #3094C8;
    --color-logo: rgb(36,146,225,0.55);
    --color-c: #2E8AB9;
    --color-d:white;
    --color-e:#f6f6f6;
    --color-f:rgb(80,80,80);
  }
  
.color-logo {
  color: var(--color-logo);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none; 
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Roboto Condensed;
}

body {
  font-size: 16px; /* 1rem = 10px */
  font-family: var(--fuente-page);
  text-decoration: none;
  list-style: none;
  background: #f6f6f6;
}

/* DashBoard */
.ContainerDashB{
  text-decoration: none;
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 38rem;
  min-width: 30rem;
  max-width: 40rem;
  background: var(--color-secundario);
}
.ContainerDashB a{
  color: var(--color-d);
}


.DashLogo{
  display: flex;
  padding-left: 2rem;
  align-items: center;
  width: 100%;
  height: 15rem;
  background: white;
  font-size:4rem;
  font-weight: 550;
  font-family: Arial, Helvetica, sans-serif;
}
.DashLogo span{
  color: var(--color-f);
  font: arial;
}
#colorB{
  color: var(--color-secundario);
  font-size: 7rem;
  font-weight: 500;
}
#colorC{
  color:var(--color-logo)
}

.submenu__infoPersonal,
.submenu__citas,
.submenu__ConsulPacientes,
.submenu__ConsulCitas{
  list-style: none;
  display: none;
}

.submenu__infoPersonal-item,
.submenu__cita-item,
.submenu__ConsulPacientes-item,
.submenu__ConsulCitas-item{
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  width: 100%;
  height: 4rem;
  margin: 0;
  background: white;
  border-bottom: 0.5px solid var(--color-secundario);
  padding-left: 7rem;
  transition: 1s;
  cursor: pointer;
  animation-name: animacion-menu;
  animation-duration: 0.2s;
}

.submenu__cita-item:hover{
  background: rgb(214, 214, 214);
}
.submenu__ConsulCitas-item:hover{
  background: rgb(214, 214, 214);
}
.submenu__infoPersonal-item:hover{
  background: rgb(214, 214, 214);
}
.submenu__ConsulPacientes-item:hover{
  background: rgb(214, 214, 214);
}
.submenu__infoPersonal-item a,
.submenu__cita-item a,
.submenu__ConsulPacientes-item a,
.submenu__ConsulCitas-item a{
color: black;
}

@keyframes animacion-menu{
  from {height: 0; opacity: 1;}
  to {height:4rem; opacity: 1;}

} 

.DashBItem{
  display: flex;
  align-items: center;
  font-size: 1.9rem;
  width: 100%;
  height: 5rem;
  color: white;
  background: var(--color-c);
  border-bottom: solid 1px var(--color-secundario);
  padding-left: 2.5rem;
  transition: 0.3s;
  cursor: pointer;
  user-select: none;
}
.DashBItem:hover{
  background: var(--color-secundario);
}
.icons{
  width: 2.5rem;
  margin-right: 1rem;
  font-size: 2rem;
}
.DashContent{
  /* border: solid 3px red; */
  z-index: 90;
}
.DashFoot{
  position: absolute;
  bottom: 0;
}
.DashFootItem{
  z-index: 50;
  /* border: solid 3px red; */
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: center center;
}
.DashFootItem img{
  height: 100%;
  width: 100%;
  transform: scale(0.8);
}

 /* Contenedor de toda la pagina */
.mainContent{
  height: 100vh;
  color: var(--color-primario);
  margin-left: 42rem;
  padding-top: 3rem;
  display: flex;
  /* border: solid green 5px; */
}


/* Top   */
.ContTop{
  height: 12rem;
  width: 500px;
  background: var(--color-secundario);
  border-radius: 2rem;
  display: flex;
  align-items: center;
  color: white;
}
.ContTopImg{
  height: 100%;
  width: 14rem;
 /* border: solid 1px red;*/
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ContTopImg img{
  width: 10rem;
}
.ContToptxt{
 /* border: solid 1px red;*/
  padding-left: 4rem;
}
.ContTop h2{
  font-size: 3.2rem;
}


/* Principal */
.ContPrincipal{
  margin-top: 5rem;
  width: 95%;
  /*border: solid 1px red;*/
  border-radius: 1rem;
  background: white;
  height: 70vh;
  padding: 4rem;
}

/* Right */
.ContRight{
  /* border: solid 1px red; */
  min-width: 30rem;
  display: flex;
  flex-direction: column;
}

.Cerrarbtn{
  height: 600;
  /* border: solid 1px blue; */
}
.divBtnCerrar{
  margin-left: 40%;
  margin-bottom: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14rem;
  height: 3.5rem;
  border: solid .1rem var(--color-secundario);
  border-radius: 10rem;
}
.divBtnCerrar a{
  color: var(--color-secundario);
}


.ContPersonAside{
  height: 87.5%;
  display: flex;
  align-items: center;
  right: -100px;
}
.divBtnPerson{
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  color: white;
  /*border: solid 1px red;*/
  width: 1.5em;
  height: 6rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background-color: var(--color-secundario);
}
.checkBtn{
  cursor: pointer;
}
.divPersonInfo{
  font-size: 1rem;
  transition: 0.5s;
  width: 9rem;
  height: 50rem;
  background: var(--color-secundario);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
#btnMenu{
  display: none;
}
#btnMenu:checked ~ .divPersonInfo{
  transform: translateX(50px);
  background: var(--color-c);
}



/* mostrar bordes de cajas */

.ContLeft{
  width: 70%;
 }
.ContRight{
  width: 30%;
}

