/* === Import === */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/** Variables CSS */
:root {
    /* Fuente */
    --font-page:  "Roboto";

    /* colores */
    --color-primario: rgb(36,146,225);
    --color-secundario: #5ec4fe;
    --color-terciario: #505050;
    --white: #ffffff;
    --color-salud: rgb(80,80,80);
}

/** Globales */
*,
*::after,
*::before {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
body {
    font-size: 16px;
    font-family: var(--font-page);
}
img {
    max-width: 100%;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
}
h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2.2rem;
}
a {
    text-decoration: none;
    max-width: 100%;
}
ul {
    list-style: none;
    padding: 0;
}

/** Utilidades */
.margin-center {
    margin: 0 auto;
}

/** === Header - Site === **/
.site-header {
    background-color: var(--color-primario);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.logo {
    font-size: 5rem;
    display: flex;
}
.logo__text {
    font-weight: 700;
}
.logo__color {
    color: var(--white);
}
.color-salud {
    color: var(--color-salud);
}
.color-vida {
    color: var(--white);
}
.admin {
    display: flex;
    align-items: center;
}
.admin__title {
    color: var(--color-salud);
}

/** === Menu - Navegation === **/
.menu-navegation {
    position: fixed;
    height: 100vh;
    width: 25rem;
    background-color: var(--color-primario);
}
ul > .items {
    background-color: var(--color-secundario);
    padding: 1rem;
    padding-right: 0;
    font-size: 2rem;
}
ul > .sub-item {
    padding: 1rem 0 1rem 2rem;
    /* display: none; */
}

/** === Cuerpo - main === **/
.wrapper {
    width: calc(100% - 25rem);
    position: relative;
    margin-left: auto;
}

/** === Modal === **/
.modal {
    /* display: flex; */
    background-color: rgba(0, 0, 0, .4);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: transform 1s;
    transform: translateY(0%);
    display: none;
}
.modal__container {
    background-color: var(--white);
    padding: 2rem;
    border-radius: 1.5rem;
    position: relative;
}
.modal__close {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: -10;
    left: -10;
    right: -10;
}
.close {
    background-color: red;
    border: none;
    padding: .5rem .8rem;
    color: var(--white);
    font-size: 2rem;
    font-weight: 700;
    border-radius: 50%;
    cursor: pointer;
}
